a {
    text-decoration: none;
    color: #000;
}

nav>h3 {
    display: inline-block;
    width: 40%;
}

nav>div {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.valittu_kansio {
    font-weight: bold;
}

.kuva {
    float: left;
    margin: 20px;
}

.iso_kuva {
    width: 60%;
}

#container {
    width: 100%;
}

#sivupalkki {
    width: 20%;
    float: left;
}

#sisalto {
    width: 70%;
    float: left;
}